#ifndef __SEQ_VPI_HANDLES
#define __SEQ_VPI_HANDLES

#include <vector>
#include <string>
#include <iostream>
#include "vpi_signal.h"

void append_vpi_signal(std::string path, std::vector<vpi_signal> &vec){
    try{
        vec.push_back(vpi_signal(path));
    } catch (VpiSignalNotExist &e){
        std::cout << "Cannot find VPI signal " << path << "\n";
    }
}
std::vector<vpi_signal> create_seq_vpi_handles(std::string root){
    std::vector<vpi_signal> vec;
    if(root.back() != '.')
        root.push_back('.');

    {% for p in paths %}
        append_vpi_signal(root + "{{ p }}", vec); // {{ loop.index-1 }}

    {% endfor %}
    return vec;
}

#endif

