OUTPUT_ARCH(riscv) /* TODO allow other architectures */

MEMORY {
{% for m in mems %}
    {{ m.parent.inst_name }} ({{ m|getSwAcc }}): ORIGIN = 0x{{ '%08x' % m.absolute_address }}, LENGTH = 0x{{ '%08x' % m.size }}
{% endfor %}
}

{% set stack_mem = mems|getStackMem %}
{% set prog_mem = mems|getProgramMem %}
{% set boot_mem = mems|getBootMem %}
{% set data_mem = mems|getDataMem %}
{% set bss_mem = mems|getBssMem %}

PROVIDE(_estack = ORIGIN( {{ stack_mem.parent.inst_name }}) + LENGTH( {{ stack_mem.parent.inst_name }} ));

PROVIDE(_stext = ORIGIN( {{ prog_mem.parent.inst_name }} ));
PROVIDE(_start = ORIGIN( {{ prog_mem.parent.inst_name }} ));
PROVIDE(_program_memory = ORIGIN( {{ prog_mem.parent.inst_name }} ));

PROVIDE (__executable_start = SEGMENT_START("text-segment", _start)); . = SEGMENT_START("text-segment", _start) + SIZEOF_HEADERS;

SECTIONS {

    {% if boot_mem is not none %}
    .bootloader : {
        *bootloader.S.o(.vectors);
        *bootloader.S.o*(*);
        *bootloader.cpp.o*(*);
        . = ALIGN(4);
    } > {{ boot_mem.parent.inst_name }}
    {% endif %}

  .text :
  {
    . = ALIGN(4);
    *crt0.S.o(.vectors);
    *crt0.S.o(.start_section);
    *crt0.S.o(.text);

    KEEP (*(SORT_NONE(.init)))

    *(.text.unlikely .text.*_unlikely .text.unlikely.*)
    *(.text.exit .text.exit.*)
    *(.text.startup .text.startup.*)
    *(.text.hot .text.hot.*)
    *(.text .stub .text.* .gnu.linkonce.t.*)
    /* .gnu.warning sections are handled specially by elf32.em.  */
    *(.gnu.warning)

    KEEP (*(SORT_NONE(.fini)))
  } > {{ prog_mem.parent.inst_name }}

  PROVIDE (__etext = .);
  PROVIDE (_etext = .);
  PROVIDE (etext = .);

  .rodata         : 
  {
    *(.rodata .rodata.* .gnu.linkonce.r.*) 
    *(.rodata1)
    *(.sdata2 .sdata2.* .gnu.linkonce.s2.*)
  } > {{ data_mem.parent.inst_name }}

    .sbss2          : { *(.sbss2 .sbss2.* .gnu.linkonce.sb2.*) } > {{ data_mem.parent.inst_name }}
                    

  /* Adjust the address for the data segment.  We want to adjust up to
     the same address within the page on the next page up.  */
  . = DATA_SEGMENT_ALIGN (CONSTANT (MAXPAGESIZE), CONSTANT (COMMONPAGESIZE));
  /* Exception handling  */
  .preinit_array     :
  {
    PROVIDE_HIDDEN (__preinit_array_start = .);
    KEEP (*(.preinit_array))
    PROVIDE_HIDDEN (__preinit_array_end = .);
    } > {{ data_mem.parent.inst_name }}
  .init_array     :
      {
    PROVIDE_HIDDEN (__init_array_start = .);
    KEEP (*(SORT_BY_INIT_PRIORITY(.init_array.*) SORT_BY_INIT_PRIORITY(.ctors.*)))
    KEEP (*(.init_array EXCLUDE_FILE (*crtbegin.o *crtbegin?.o *crtend.o *crtend?.o ) .ctors))
    PROVIDE_HIDDEN (__init_array_end = .);
    } > {{ data_mem.parent.inst_name }}
  .fini_array     :
      {
    PROVIDE_HIDDEN (__fini_array_start = .);
    KEEP (*(SORT_BY_INIT_PRIORITY(.fini_array.*) SORT_BY_INIT_PRIORITY(.dtors.*)))
    KEEP (*(.fini_array EXCLUDE_FILE (*crtbegin.o *crtbegin?.o *crtend.o *crtend?.o ) .dtors))
    PROVIDE_HIDDEN (__fini_array_end = .);
    } > {{ data_mem.parent.inst_name }}
  .ctors          :
      {
    /* gcc uses crtbegin.o to find the start of
       the constructors, so we make sure it is
       first.  Because this is a wildcard, it
       doesn't matter if the user does not
       actually link against crtbegin.o; the
       linker won't look for a file to match a
       wildcard.  The wildcard also means that it
       doesn't matter which directory crtbegin.o
       is in.  */
    KEEP (*crtbegin.o(.ctors))
    KEEP (*crtbegin?.o(.ctors))
    /* We don't want to include the .ctor section from
       the crtend.o file until after the sorted ctors.
       The .ctor section from the crtend file contains the
       end of ctors marker and it must be last */
    KEEP (*(EXCLUDE_FILE (*crtend.o *crtend?.o ) .ctors))
    KEEP (*(SORT(.ctors.*)))
    KEEP (*(.ctors))
    } > {{ data_mem.parent.inst_name }}
  .dtors          :
      {
    KEEP (*crtbegin.o(.dtors))
    KEEP (*crtbegin?.o(.dtors))
    KEEP (*(EXCLUDE_FILE (*crtend.o *crtend?.o ) .dtors))
    KEEP (*(SORT(.dtors.*)))
    KEEP (*(.dtors))
    } > {{ data_mem.parent.inst_name }}
    .data.rel.ro : { *(.data.rel.ro.local* .gnu.linkonce.d.rel.ro.local.*) *(.data.rel.ro .data.rel.ro.* .gnu.linkonce.d.rel.ro.*) } > {{ data_mem.parent.inst_name }}
    .dynamic        : { *(.dynamic) } > {{ data_mem.parent.inst_name }}
  . = DATA_SEGMENT_RELRO_END (0, .);
  .data           :
      {
    __DATA_BEGIN__ = .;
    *(.data .data.* .gnu.linkonce.d.*)
    SORT(CONSTRUCTORS)
      *(.data1) 
    *(.srodata.cst16) *(.srodata.cst8) *(.srodata.cst4) *(.srodata.cst2) *(.srodata .srodata.*)
    *(.sdata .sdata.* .gnu.linkonce.s.*)
      . = ALIGN(4);
      } > {{ data_mem.parent.inst_name }}
  _edata = .; PROVIDE (edata = .);


                    

  __bss_start = .;
  _bss_start = .;
  .sbss           :
      {
    *(.dynsbss)
    *(.sbss .sbss.* .gnu.linkonce.sb.*)
    *(.scommon)
    } > {{ bss_mem.parent.inst_name }}
  .bss            : ALIGN(4)
      {
   *(.dynbss)
   *(.bss .bss.* .gnu.linkonce.b.*)
   *(COMMON)
   /* Align here to ensure that the .bss section occupies space up to
      _end.  Align after .bss to ensure correct alignment even if the
      .bss section disappears because there are no input sections.
      FIXME: Why do we need it? When there is no .bss section, we don't
      pad the .data section.  */
   . = ALIGN(. != 0 ? 32 / 8 : 1); 
   } > {{ bss_mem.parent.inst_name }}
  . = ALIGN(32 / 8);
  . = SEGMENT_START("ldata-segment", .);
  . = ALIGN(32 / 8);
  __BSS_END__ = .;
  _bss_end = .;
  _align_begin = .;
  .align_mem0 : {
    . = ALIGN(3);
    } > {{ bss_mem.parent.inst_name }}
 /*   __global_pointer$ = MIN(__SDATA_BEGIN__ + 0x100,
		            MAX(__DATA_BEGIN__ + 0x100, __BSS_END__ - 0x100)); */
  _end = .; PROVIDE (end = .);
  . = DATA_SEGMENT_END (.);
  
  {% if debug %}
  /* Stabs debugging sections.  */
  .stab          0 : { *(.stab) } > {{ data_mem.parent.inst_name }}
  .stabstr       0 : { *(.stabstr) } > {{ data_mem.parent.inst_name }}
  .stab.excl     0 : { *(.stab.excl) } > {{ data_mem.parent.inst_name }}
  .stab.exclstr  0 : { *(.stab.exclstr) } > {{ data_mem.parent.inst_name }}
  .stab.index    0 : { *(.stab.index) } > {{ data_mem.parent.inst_name }}
  .stab.indexstr 0 : { *(.stab.indexstr) } > {{ data_mem.parent.inst_name }}
  .comment       0 : { *(.comment) } > {{ data_mem.parent.inst_name }}
  /* DWARF debug sections.
     Symbols in the DWARF debugging sections are relative to the beginning
     of the section so we begin them at 0.  */
  /* DWARF 1 */
  .debug          0 : { *(.debug) } > {{ data_mem.parent.inst_name }}
  .line           0 : { *(.line) } > {{ data_mem.parent.inst_name }}
  /* GNU DWARF 1 extensions */
  .debug_srcinfo  0 : { *(.debug_srcinfo) } > {{ data_mem.parent.inst_name }}
  .debug_sfnames  0 : { *(.debug_sfnames) } > {{ data_mem.parent.inst_name }}
  /* DWARF 1.1 and DWARF 2 */
  .debug_aranges  0 : { *(.debug_aranges) } > {{ data_mem.parent.inst_name }}
  .debug_pubnames 0 : { *(.debug_pubnames) } > {{ data_mem.parent.inst_name }}
  /* DWARF 2 */
  .debug_info     0 : { *(.debug_info .gnu.linkonce.wi.*) } > {{ data_mem.parent.inst_name }}
  .debug_abbrev   0 : { *(.debug_abbrev) } > {{ data_mem.parent.inst_name }}
  .debug_line     0 : { *(.debug_line .debug_line.* .debug_line_end ) } > {{ data_mem.parent.inst_name }}
  .debug_frame    0 : { *(.debug_frame) } > {{ data_mem.parent.inst_name }}
  .debug_str      0 : { *(.debug_str) } > {{ data_mem.parent.inst_name }}
  .debug_loc      0 : { *(.debug_loc) } > {{ data_mem.parent.inst_name }}
  .debug_macinfo  0 : { *(.debug_macinfo) } > {{ data_mem.parent.inst_name }}
  /* SGI/MIPS DWARF 2 extensions */
  .debug_weaknames 0 : { *(.debug_weaknames) } > {{ data_mem.parent.inst_name }}
  .debug_funcnames 0 : { *(.debug_funcnames) } > {{ data_mem.parent.inst_name }}
  .debug_typenames 0 : { *(.debug_typenames) } > {{ data_mem.parent.inst_name }}
  .debug_varnames  0 : { *(.debug_varnames) } > {{ data_mem.parent.inst_name }}
  /* DWARF 3 */
  .debug_pubtypes 0 : { *(.debug_pubtypes) } > {{ data_mem.parent.inst_name }}
  .debug_ranges   0 : { *(.debug_ranges) } > {{ data_mem.parent.inst_name }}
  /* DWARF Extension.  */
  .debug_macro    0 : { *(.debug_macro) } > {{ data_mem.parent.inst_name }}
  .debug_addr     0 : { *(.debug_addr) } > {{ data_mem.parent.inst_name }}
  .gnu.attributes 0 : { KEEP (*(.gnu.attributes)) } > {{ data_mem.parent.inst_name }}
  {% endif %}
  /DISCARD/ : { *(.note.GNU-stack) *(.gnu_debuglink) *(.gnu.lto_*) *(*) } > {{ data_mem.parent.inst_name }}
};

