name: testing_workflow 

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

  push:
    branches:
      - master
      - develop
    paths-ignore:
      - 'docs/**'

jobs:

  testing:
    if: >
      github.event_name == 'push' ||
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.merged != true
      )

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          sudo apt-get install cmake sudo iverilog make g++ perl cpanminus

          # Install Verilog::Perl from GitHub
          git clone https://github.com/Veripool/Verilog-Perl.git
          cd Verilog-Perl
          perl Makefile.PL
          make
          sudo make install
          cd ..

          pip install peakrdl rich

      - name: run tests
        run: |
          mkdir build
          cd build
          cmake -DSOCMAKE_BUILD_TESTING=TRUE ../
          make check_cdash
